Babel
#click
click>7,<=8
filelock
Flask
Flask-Cors
#importlib_metadata
#jinja
jinja2==3.0.3
jsonschema
pydantic
pygeofilter
pygeoif
pyproj
python-dateutil
pytz
PyYAML
rasterio
requests
#shapely<2.0
shapely==2.0.1
SQLAlchemy<2.0.0
psycopg2
geoalchemy2
boto3
emails
tinydb
typing-extensions
unicodecsv
